<h1>inputs works</h1>

<input #inputCor type="text" (change)="0" />

<app-botao textoBotao="Me clique" width="30px" [corFundo]="inputCor.value" corTexto="#FFF" arredondamentoBorda="50%"
corQuandoHover="#2e07f0"
></app-botao>
<app-botao textoBotao="Clique-me"></app-botao>
<app-botao textoBotao="Clique-me" corTexto="#FFF" arredondamentoBorda="50%"></app-botao>
<app-botao textoBotao="Clique-me" corTexto="#FFF" arredondamentoBorda="50%"></app-botao>
<app-botao textoBotao="Clique-me" corTexto="#FFF" arredondamentoBorda="50%"></app-botao>
<app-botao textoBotao="Clique-me"></app-botao>