<!-- 
  Usando as interpolações, {{  }}, conseguimos mostrar algum valor que está lá na nossa classe Typescript diretamente no HTML.
  É como se criássemos uma lacuna no nosso HTML e o angular irá preencher com o valor da variável ou o código que escrevemos dentro da interpolação. 
-->

<header>
  <nav>
    <ul>
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/data-binding">Data binding</a>
      </li>
      <li>
        <a routerLink="/inputs">Inputs</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>