<!-- 
  Usando as interpolações, {{  }}, conseguimos mostrar algum valor que está lá na nossa classe Typescript diretamente no HTML.
  É como se criássemos uma lacuna no nosso HTML e o angular irá preencher com o valor da variável ou o código que escrevemos dentro da interpolação. 
-->

<app-inputs #meusInputs></app-inputs>
<app-inputs #meusInputs2></app-inputs>


<select [(ngModel)]="selectedTag">
  <option *ngFor="let tag of tags" [value]="tag">{{ tag }}</option>
</select>

<input type="number" [(ngModel)]="statusCode" />

<button (click)="consultar()">Consultar</button>


<br />
<br />
<br />
<br />
<br />
<br />


<img *ngIf="linkImage" [src]="linkImage" />

<header>
  <nav>
    <ul>
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/data-binding">Data binding</a>
      </li>
      <li>
        <a routerLink="/inputs">Inputs</a>
      </li>
      <li>
        <a routerLink="/ng-content">Ng-Content</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>